@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 62px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color: #222;
}

h6 {
    font-size: 14px;
    font-weight: 600;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.img-disabled {
    display: none;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #fbfbfb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}  

#header div p {
    font-family: Righteous;
    font-size: 20px;
    text-decoration: none;
    color: #202020;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    transition: 0.1s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home Page */

#hero {
    background-image: url("./img/bg-hero-1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 50% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero a {
    color: #088178;
    font-size: 16px;
    background: transparent;
    border: 1px solid #369683;
    padding: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

#hero a:hover {
    background-color: #297c6b;
    color: #fff;
    transform: scale(1.1); /* Efeito de escala */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* #hero button a {
    text-decoration: none;
    color: #088178;
} */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 250px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.04);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(14, 128, 119, 0.1);
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 9px 4px 6px 4px;
    line-height: 1.3;
    border-radius: 4px;
    color: #088178;
    background-color: rgba(8, 129, 120, 0.05);
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 10px;
}

#products {
    text-align: center;
}

#products .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#products .single-product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    /* transition: 0.2s ease; */
    transition-duration: 0.3s;
    position: relative;
}

#products .single-product:hover {
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06); */
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);

}

#products .single-product img {
    width: 100%;
}

#products .single-product .description {
    text-align: start;
    padding: 10px 0;
}

#products .single-product .description span {
    color: #06060691;
    font-size: 12px;
}

#products .single-product .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

#products .single-product .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#products .single-product .description h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
}

#products .single-product .description h4 span {
    padding-top: 7px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: 700;
    color: #ef3636;
    text-decoration: line-through;
}

#products .single-product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./img/destaque.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top 30% right 0;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button {
    color: #088178;
    font-size: 16px;
    /* background: transparent; */
    border: 1px solid #369683;
    padding: 10px 30px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-weight: 500;
    margin-top: 16px;
}

#banner button:hover {
    background-color: #297c6b;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.02);
}

.title-features {
    text-align: center;
    margin-top: 32px;
    /* color: #088178; */
}

#sm-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/01\ -\ Ravens.png');
    min-width: 320px;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    /* margin-bottom: 15px; */
}

#sm-banner .banner-box2 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/02\ -\ Chiefs.png');
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box3 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/03\ -\ Giants.png');
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box4 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/04\ -\ Packers.png');
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box5 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/05\ -\ Bengals.png');
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box6 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/06\ -\ Vikings.png');
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box7 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/07\ -\ Bills.png');
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box8 {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/08\ -\ Bears.png');
    background-size: cover;
    background-position: center;
}

#sm-banner h2 {
    color: #fff;
    font-size: 36px;
    line-height: 42px;
}

#sm-banner button {
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-weight: 500;
}

#sm-banner button:hover {
    background-color: #297c6b;
    color: #fff;
    transform: scale(1.1); /* Efeito de escala */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 5px;
    cursor: pointer;
}

footer .install .row .btn {
    border: 1px solid #088178;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

footer .install img {
    margin: 6px 5px 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Shop Page */

#page-header {
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./img/banners/shop-page2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2, 
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}

#pagination a i {
    font-size: 14px;
}


/* Single Product */

#product-details {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    margin-bottom: 35px;
}

#product-details .single-product-img {
    width: 35%;
    margin-right: 50px;
}

#product-details .small-img-group {
    display: flex;
    justify-content: space-between;
}

#product-details .small-img-col {
    flex-basis: 32%;
    cursor: pointer;
    border: 1px solid #eaeaea;
    padding: 10px;
}

#product-details .single-product-details {
    width: 50%;
    padding-top: 30px;
}

#product-details .single-product-details h4 {
    padding: 35px 0 15px 0;
    font-weight: 700;
}

#product-details .single-product-details .product-name {
    font-size: 34px;
}

#product-details .single-product-details h2 {
    font-size: 26px;
}

#product-details .single-product-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#product-details .single-product-details input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 6px;
}

#product-details .single-product-details input:focus {
    outline: none;
}

#product-details .single-product-details button {
    background-color: #088178;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 0px 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-weight: 500;
    margin-top: 5px;
    height: 40px;
}

#product-details .single-product-details span {
    font-size: 15px;
    line-height: 25px;
    color: #6a6a6a;
}

/* Start Media Query */

@media (max-width: 2560px) {
    #hero {
        background-image: url('./img/bg-hero-0.png');
    }
}

@media (max-width: 1200px) {
    #hero {
        background-image: url('./img/bg-hero-1.png');
    }
}

@media (max-width: 820px) {

    .section-p1 {
        padding: 40px 0px;
    }

    #header {
        padding: 10px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
       margin-bottom: 25px; 
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 25px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        background-image: url('./img/bg-hero-2.png');
        height: 80vh;
        padding: 0 40px;
        background-position: top 30% right 20%;
    }

    #hero h2, h1 {
        width: 70%;
    }

    #hero h2 {
        font-size: 32px;
        margin-top: 0;
    }

    #hero h1 {
        font-size: 50px;
        line-height: 52px;
    }

    #feature {
        justify-content: center;
    }

    #feature .feature-box {
        width: 180px;
        margin: 15px 2px;
    }

    #products .product-container {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #banner {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./img/destaque.jpg');
        width: 100%;
        height: 30vh;
        background-size: cover;
    }

    #sm-banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 12px;
    }

    #sm-banner .banner-box {
        min-width: 140px;
        height: 15vh;
        padding: 30px;
    }

    #sm-banner .banner-box h2 {
        line-height: 24px;
        font-size: 20px;
    }

    #sm-banner .banner-box button {
        margin-top: 10px;
        font-size: 12px;
        padding: 5px;
    }

    footer {
        margin: 0 5px;
        display: flex;
        justify-content: space-between;
    }

    footer .col .logo {
        display: none;
    }
}

@media (max-width: 477px) {
    #header {
        padding: 10px 20px;
    }

    #header .header-logo img {
        width: 60px;
    }

    #header .header-logo p {
        font-size: 18px;
    }

    #hero {
        background: linear-gradient(rgba(240, 240, 240, 0.887), rgba(255, 255, 255, 0.813)), url('./img/bg-hero-2.png');
        padding: 0 20px;
        background-position: top 60% right 30%;
    }

    #hero h2 {
        width: 100%;
        line-height: 42px;
    }

    #hero h1 {
        width: 100%;
    }

    #hero p {
        font-size: 13px;
        font-weight: 500;
    }

    #products h2 {
        font-size: 42px;
        line-height: 42px;
    }

    #products .single-product {
        width: 23%;
        min-width: 180px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        /* transition: 0.2s ease; */
        transition-duration: 0.3s;
        position: relative;
    }

    #banner {
        height: 35vh;
        background-size: cover;
        padding: 0 0;
    }

    #banner h2 {
        font-size: 32px;
        line-height: 35px;
    }

    #banner button {
        margin-top: 10px;
        font-size: 14px;
        padding: 10px;
    }

    .title-features {
        font-size: 32px;
        line-height: 35px;
    }

    #sm-banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }

    #sm-banner .banner-box {
        margin: 5px 5px 5px 5px;
        min-width: 100px;
        padding: 15px;
    }

    #sm-banner button {
        margin-top: 10px;
        font-size: 12px;
        padding: 5px;
    }
}